# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea
/misc.xml
/modules.xml
/vcs.xml
/workspace.xml
/Java_BootCamp.iml
../out/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out

